mysql-connector-python
SQLAlchemy==2.0.4
sqlalchemy-utils==0.40.0
fastapi[all]==0.92.0
fastapi-utils
PYMYSQL~=1.0.2
uvicorn~=0.20.0
pydantic==1.10.5
cryptography==39.0.1
starlette==0.25.0
PyJWT==2.6.0
python-decouple==3.7
bcrypt
pre-commit
